
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --header-height:50px;
    --chat-header:62px;
    --font-family: 'Montserrat', sans-serif; 
    --background-color:#181818;
    --main-background-color:#212121;
    --font-color: white;
    --theme-color:#9068FE;
    --theme-color-hover:#6e47d8;
}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat',initial, sans-serif;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: black;
}

h2,h3{
    margin: 0;
    font-family: inherit;
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

header{
    background-color: white;
}

.header{
    padding: 15px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header-inner{
    display: flex;
}

.logo-name{
    font-family: var(--font-family);
    font-size: 22px;
    color:var(--theme-color);
    display: flex;
    align-items: center;
    gap: 7px;
}

.menu-items{
    display: flex;
    gap: 10px;
}

.menu-items > a{
    font-family: var(--font-family);
    transition: all .3s;
    font-weight: 600;
}

.menu-items > button{
    font-weight: 400;
    font-family: var(--font-family);
    transition: all .3s;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.menu-items > button:hover{
    color: var(--theme-color);
}

.menu-items > a:hover{
    color:var(--theme-color);
}

.main{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.chats_toolbar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: 370px;
    border-right: 1px solid var(--theme-color);
    height: calc(100vh - var(--header-height));
    flex-shrink: 0;
    background-color: var(--main-background-color);
    color: var(--font-color);
}
.chats_toolbar-header{
    font-family: var(--font-family);
}
.chats_toolbar__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;

}

.chat-item_inner{
    width: 100%;
}

.chat-item{
    display: flex;
    gap: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    transition: background-color .2s;
    position: relative;
    color: var(--font-color);
}

.chat-item:hover{
    background-color: var(--theme-color);
    color: white;
}

.chat-item:hover .count-unread-messages{
    background-color: white;
    color: var(--theme-color);
}

.chat-item > img {
    border-radius: 50%;
    border: 1px solid var(--theme-color);
}

.chat-item_inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
}

.chat-name{
    font-size: 17px;
    font-family: var(--font-family);
    text-align: start;
    font-weight: 500;
}

.chat-item-content{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
    font-family: var(--font-family);
}

.chat-item-content_inner{
    display: flex;
    align-items: baseline;
    gap: 3px;
    flex: 1;
    min-width: 0;
}

.last-message-owner{
    font-family: var(--font-family);
}

.last-message-chat{
    width: calc(100% - 1.75rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis; 
    text-align: start;
    font-weight: 600;
}

.count-unread-messages{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: var(--theme-color);
    color: white;
    font-size: 11px;
    font-weight: 600;
    font-family: var(--font-family);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-panel{
    width: 100%;
    display: flex;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
}

.chat-info-header{
    width: 100%;
    min-height: var(--chat-header);
    background-color: var(--main-background-color);
    border-top: 1px solid var(--theme-color);
    border-right: 1px solid var(--theme-color);
    display: flex;
    flex-shrink: 0;
    color: white;
}

.chat-info_inner{
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    align-items: center;
}

.chat-info_inner > img {
    border-radius: 50%;
    border: 1px solid var(--theme-color);
}

.chat-info-block{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.chat-count-info_inner{
    display: flex;
    gap: 10px;
}
.chat-count-info_inner > div {
    font-family: var(--font-family);
    font-size: 13px;
}

.messages-window{
    height: calc(100vh - var(--header-height) - var(--chat-header));
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    border-right: 1px solid var(--theme-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.message-window-scroll{
    height: 100%;
    overflow-y: auto;
    padding: 25px 10px;
}
.message-window-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}

.message-window-scroll::-webkit-scrollbar
{
  width: 6px;
  background-color:transparent;
}

.message-window-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--theme-color);
}

.message-window_inner{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.message-window_inner > .right {
    justify-content: flex-end;
}

.message-window_inner > .left {
    justify-content: flex-start;
    margin-left: 50px;
}


.message-item_position{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    max-width: 500px;
    position: relative;
}

.message-item{
    display: flex;
}

.message-item_position > img {
    border-radius: 50%;
    border:1px solid var(--theme-color);
    object-fit: contain;
    object-position: center;
    position: absolute;
    left: -50px;
}

.message-item_inner{
   padding: 5px 10px 25px;
   background-color: #212121;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   min-height: 53px;
   position: relative;
   min-width: 130px;
}

.message-window_inner .owner .message-item_inner{
    background-color: var(--theme-color);  
}

.message-window_inner .owner .forwarded_message_username{
    color: white;
}

.message-window_inner .owner .forwarded-line{
    background-color: white;
}

.message-window_inner .owner .forwarded-message-button:hover{
    background-color:rgba(240, 240, 240, 0.3);
}

.message-owner-userName{
    color: var(--theme-color);
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 600;
}
.message-content{
    font-family: var(--font-family);
    color: white;
    font-weight: 600;
    font-size: 14px;
    flex-grow: 1;
}
.message-time{
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-size: 12px;
    color: rgb(206, 205, 205);
    font-family: var(--font-family);
    font-weight: 700;
    cursor:default;
}

.forwarded-message-button{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 3px;
    max-width: calc(100% - 0.75rem);
    overflow: hidden;
    margin: 3px 0;
    position: relative;
    border-radius: 5px;
    padding: 3px;
    transition: background-color .2s;
    min-width: 90px;
}

.forwarded-message-button:hover{
    background-color: rgba(144, 104, 254, 0.25);
}

.forwarded_message_content{
    width: calc(100% - 0.75rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis; 
    font-family: var(--font-family);
    color: white;
    font-weight: 600;
    font-size: 11px;
    margin-left: 8px;
    text-align: start;
}
.forwarded_message_username{
    width: calc(100% - 0.75rem);
    font-family: var(--font-family);
    color: var(--theme-color);
    text-align: start;
    font-weight: 600;
    font-size: 12px;
    margin-left: 8px;
}

.forwarded-line{
    width: 3px;
    background-color: var(--theme-color);
    height: 80%;
    position: absolute;
    top: 4px;
    left: 3px;
    border-radius: 5px;
}

.message-input-panel{
    flex-shrink: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.message-input-panel_inner{
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: end;
    gap: 10px;
}

.message-input_inner{
    background-color: var(--main-background-color);
    display: flex;
    align-items: end;
    border-radius: 7px;
    padding: 5px 12px;
    width: 100%;
    max-width: 800px;
    gap: 10px;
}

.message-input{
    width: 100%;
    max-width: calc(100% - 0.25rem);
    min-height: 45px;
    font-weight: 600;
    font-size: 17px;
    font-family: var(--font-family);
    color: white;
    text-align: start;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0px;
    max-height: 300px;
    overflow: hidden;
}

.message-input:focus{
    outline: none;
}

.smile-message-button{
    margin-top: 2px;
    margin-bottom: 5px;
}

.common-message-button{
    flex-shrink: 0;
    height: 27px;
    margin-bottom: 7px;
}


.sender-panel{
    position: relative;
    flex-shrink: 0;
}

.send-message{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    border-radius: 50%;
    transition: background-color .2s;
    cursor: pointer;
}

.send-message:hover{
    background-color: var(--theme-color-hover);
}

.send-message > img{
    margin-left: 2px;
}

.shutdown-position{
    position: absolute;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -65px;
    background-color: var(--main-background-color);
    border-radius: 50%;
    border: 1px solid #343333;
}

.shutdown-position:hover{
    background-color: #343333;
}

.shutdown-position::before{
    width: 22px;
    height: 22px;
    background-color: var(--theme-color);
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    position: absolute;
    content: attr(data-unread-count);
    right: 0;
    top: -5px;
}

